html, body {
    background-color: rgb(188, 183, 160);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

body {
    &.blue-theme { background-color: #15517b; }
    &.green-theme { background-color: #16ca16; }
    &.red-theme { background-color: #a8162c; }

    nav {s
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;

            &:hover {
                color: white;
            }
        }
    }
}