<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>


    <picture>
        <img src="/images/Diego's-image.JPG" alt="Diego">
    </picture>

    <p>
        Hi! My name is Diego. I’m a software development student who loves learning how things work,
        building cool projects, and growing my skills one day at a time.
        I’m also someone who enjoys life outside of code and spending time with the people I care about.
    </p>

    <h3>My Interests</h3>
    <ul>
        <li>Formula 1</li>
        <li>Soccer</li>
        <li>Coding</li>
        <li>Playing video games</li>
        <li>Going to the gym</li>
        <li>Spending time with my wife</li>
    </ul>
</main>
<%- include('partials/footer') %>