<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <div>
        <p>My name is Diego Estrada </p>
        <p>I am from Guatemala and I love playing video games, coding, going out with my friends and watching movies.</p>
        <p>One of the best things that has ever happened to me is my wife. I got married to her in 2024 and we have been having an amazing time together.</p>
    </div>

    <img src="/images/mepicture.JPG" alt="mypic">
</main>
<%- include('partials/footer') %>