<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Welcom to Diego's home page</p>
    <img src="https://www.rd.com/wp-content/uploads/2018/12/50-Funny-Animal-Pictures-That-You-Need-In-Your-Life-2.jpg" alt="Funnny Image">
</main>
<%- include('partials/footer') %>
<%= new Date().getFullYear() %>